In [4]:
import pandas as pd
data  = pd.read_csv("C:/Notes/DataSets/7. Udemy Courses Data.csv")

In [20]:
data.tail()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3678,552700,Your Second Course on Piano: Two Handed Playing,True,70,1018,12,22,Beginner Level,5 hours,2015-10-26T20:04:21Z,Musical Instruments
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance
3681,964478,Zombie Apocalypse Photoshop Actions,True,50,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

In [19]:
data.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

In [21]:
data["level"]=="All Levels"

0        True
1       False
2       False
3       False
4       False
        ...
3677     True
3678    False
3679     True
3680     True
3681     True
Name: level, Length: 3682, dtype: bool

In [22]:
sum(data["level"]=="All Levels")

1932

In [24]:
data[data["level"]=="All Levels"]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
7,768028,* An Integrated Approach to the Fundamentals o...,True,200,134,14,123,All Levels,5.5 hours,2016-03-15T17:23:07Z,Business Finance
15,145220,1. Principles of Simple Interest,True,20,1074,6,13,All Levels,1 hour,2014-01-13T20:43:46Z,Business Finance
16,302450,10 Numbers Every Business Owner Should Know,True,20,13,1,9,All Levels,1 hour,2015-03-08T19:11:24Z,Business Finance
17,157336,10. Bonds and Bond Pricing,True,20,308,4,10,All Levels,1 hour,2014-02-11T18:11:55Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...
3676,498488,Your First Successful Forex Trades - With Case...,True,200,1079,34,16,All Levels,2.5 hours,2015-05-26T20:48:48Z,Business Finance
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance
3681,964478,Zombie Apocalypse Photoshop Actions,True,50,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

In [30]:
data.columns

Index(['course_id', 'course_title', 'is_paid', 'price', 'num_subscribers',
       'num_reviews', 'num_lectures', 'level', 'content_duration',
       'published_timestamp', 'subject'],
      dtype='object')

In [7]:
filtered_data = data[data["is_paid"] == False]
filtered_data

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
41,286070,5 lecciones que todo guitarrista debe tomar,False,Free,4452,263,14,Beginner Level,1 hour,2014-08-23T05:08:14Z,Musical Instruments
49,696630,"7 Ways A Beginner Guitarist Can Sound Better, ...",False,Free,4529,193,7,Beginner Level,36 mins,2015-12-21T18:50:50Z,Musical Instruments
57,955914,A beginner`s guide to fingerpicking and strumm...,False,Free,3481,29,20,Beginner Level,2 hours,2016-09-13T21:51:59Z,Musical Instruments
67,270976,A how to guide in HTML,False,Free,7318,205,8,Beginner Level,35 mins,2014-08-10T20:19:10Z,Web Development
74,1214144,¡Triunfar en La Bolsa de Valores No Requiere d...,False,Free,338,7,6,Beginner Level,1 hour,2017-05-30T14:30:12Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...
3620,552598,WordPress in under an hour - Create/manage you...,False,Free,6474,86,15,All Levels,1 hour,2015-07-15T00:21:56Z,Web Development
3638,1068590,Wordpress Website Mastery 2017,False,Free,5181,64,22,Beginner Level,2.5 hours,2017-01-18T17:01:40Z,Web Development
3652,752706,Write quicker HTML5 and CSS 3; productivity ha...,False,Free,13016,286,15,All Levels,1.5 hours,2016-03-03T17:45:31Z,Web Development
3674,1257976,Your First 10 Guitar Lessons - Learn how to pl...,False,Free,924,4,18,Beginner Level,1 hour,2017-06-29T00:29:36Z,Musical Instruments
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance

In [47]:
(data["is_paid"] == "False").count()

3682

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3682 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [51]:
data.describe()

          course_id  num_subscribers   num_reviews  num_lectures
count  3.682000e+03      3682.000000   3682.000000   3682.000000
mean   6.766121e+05      3194.230310    156.093156     40.065182
std    3.436355e+05      9499.378361    934.957204     50.373299
min    8.324000e+03         0.000000      0.000000      0.000000
25%    4.078430e+05       110.250000      4.000000     15.000000
50%    6.885580e+05       911.500000     18.000000     25.000000
75%    9.617515e+05      2540.250000     67.000000     45.000000
max    1.282064e+06    268923.000000  27445.000000    779.000000

In [52]:
data["subject"]=="Business Finance"

0       False
1       False
2       False
3       False
4       False
        ...
3677    False
3678    False
3679    False
3680     True
3681    False
Name: subject, Length: 3682, dtype: bool

In [69]:
Business_data=data[(data["subject"]=="Business Finance")]
Business_data

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
7,768028,* An Integrated Approach to the Fundamentals o...,True,200,134,14,123,All Levels,5.5 hours,2016-03-15T17:23:07Z,Business Finance
9,738910,[Value Investing] Where White People Keep Thei...,True,200,2715,70,20,Expert Level,4 hours,2016-05-25T21:04:41Z,Business Finance
10,591880,1 - Concepts of Statistics For Beginners Step ...,True,200,273,4,15,Beginner Level,31 mins,2015-08-30T22:48:34Z,Business Finance
15,145220,1. Principles of Simple Interest,True,20,1074,6,13,All Levels,1 hour,2014-01-13T20:43:46Z,Business Finance
16,302450,10 Numbers Every Business Owner Should Know,True,20,13,1,9,All Levels,1 hour,2015-03-08T19:11:24Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...
3668,425126,Year-end QuickBooks Procedures,True,20,51,2,10,Beginner Level,2 hours,2015-02-19T22:08:53Z,Business Finance
3669,180384,Yield Curve Dynamics,True,50,397,24,19,All Levels,3 hours,2014-03-12T14:54:48Z,Business Finance
3673,79364,Your Business by the Numbers,True,25,29,2,42,All Levels,3 hours,2013-09-26T14:16:35Z,Business Finance
3676,498488,Your First Successful Forex Trades - With Case...,True,200,1079,34,16,All Levels,2.5 hours,2015-05-26T20:48:48Z,Business Finance
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance

In [71]:
Business_data['hours'] = Content_hours['content_duration'].int.replace(' hours', '').astype(float)
Content_hours

TypeError: string indices must be integers, not 'str'

In [67]:

Content_hours = (Business_data["content_duration"]).sum()
Content_hours

'5.5 hours4 hours31 mins1 hour1 hour1 hour8.5 hours2 hours1 hour1.5 hours1 hour1.5 hours2 hours1 hour1.5 hours1.5 hours2.5 hours1.5 hours1.5 hours5 hours5.5 hours1 hour1 hour1.5 hours8.5 hours1 hour1 hour1 hour1.5 hours1 hour2 hours1 hour3 hours1 hour1.5 hours3.5 hours3.5 hours3.5 hours1 hour3 hours3 hours14.5 hours2 hours1.5 hours2.5 hours8.5 hours5 hours2 hours24.5 hours33 mins1.5 hours29 hours1 hour1 hour1.5 hours1.5 hours2.5 hours1 hour6 hours1.5 hours13.5 hours1.5 hours1 hour1 hour1.5 hours1.5 hours9 hours3 hours1.5 hours8.5 hours1.5 hours1 hour42 mins2.5 hours33 hours1 hour3.5 hours62 hours4 hours1 hour1.5 hours6.5 hours24.5 hours2 hours32 mins1.5 hours3 hours1 hour2 hours1.5 hours2.5 hours2 hours3 hours1.5 hours39 mins2 hours1.5 hours6.5 hours1 hour19 mins4.5 hours1.5 hours2 hours1.5 hours37 mins10.5 hours1 hour1.5 hours2 hours2 hours3 hours8 hours1 hour2.5 hours2 hours4 hours1.5 hours2 hours1.5 hours14 hours4.5 hours4 hours1 hour2.5 hours1 hour1.5 hours31.5 hours2 hours1.5 hours1.5 hours17.5 hours3.5 hours4 hours44 mins1.5 hours1.5 hours2.5 hours1.5 hours4 hours2 hours5.5 hours1.5 hours1.5 hours6 hours3.5 hours1.5 hours1 hour40 mins2 hours1 hour3.5 hours2.5 hours41 mins3 hours7.5 hours5 hours1.5 hours1.5 hours1 hour1 hour2.5 hours38 mins2 hours1 hour2 hours2 hours2 hours1 hour37 mins2.5 hours2.5 hours5.5 hours2.5 hours1 hour4 hours1 hour4 hours8 hours2.5 hours1.5 hours2 hours4 hours3 hours1.5 hours1.5 hours16 hours1 hour34 mins4.5 hours1.5 hours2.5 hours1 hour31.5 hours1 hour4.5 hours1 hour1.5 hours5 hours1 hour2.5 hours32 mins3.5 hours31 mins5.5 hours1 hour7 hours1 hour2 hours3.5 hours2 hours1 hour1 hour5.5 hours3 hours1.5 hours1.5 hours4 hours1 hour3 hours1 hour1 hour2 hours6 hours20.5 hours2 hours24.5 hours4 hours7 hours4 hours3.5 hours2 hours37 mins1.5 hours3 hours4.5 hours6 hours14.5 hours17.5 hours4 hours5.5 hours5.5 hours5 hours5.5 hours1 hour1 hour1 hour1.5 hours1 hour1 hour2 hours2 hours4.5 hours10 hours2 hours5 hours12 hours3.5 hours2.5 hours14.5 hours1.5 hours1 hour34 mins1 hour7.5 hours5 hours30 mins1 hour11.5 hours39 hours6 hours1.5 hours3 hours9.5 hours10 hours9 hours1.5 hours2.5 hours3.5 hours2 hours8.5 hours1 hour1.5 hours3.5 hours1.5 hours6 hours8 hours4.5 hours2 hours2 hours1 hour29.5 hours45 hours1 hour2.5 hours2 hours2.5 hours1 hour2.5 hours1 hour1 hour5 hours1.5 hours3 hours1 hour2 hours1 hour5 hours2 hours2.5 hours34 mins2.5 hours3.5 hours2 hours4 hours1.5 hours33 mins2.5 hours5 hours6 hours40 mins20.5 hours5.5 hours1.5 hours5.5 hours1.5 hours10.5 hours10 hours5 hours1.5 hours2 hours1 hour1.5 hours2 hours2 hours32 mins6.5 hours3 hours1 hour1 hour1 hour2 hours2.5 hours1.5 hours4 hours1 hour1.5 hours2.5 hours1 hour2.5 hours1 hour1.5 hours2 hours4 hours40 mins14.5 hours3 hours4 hours2.5 hours6 hours1.5 hours1.5 hours1 hour5 hours1 hour1.5 hours1.5 hours1.5 hours2.5 hours3 hours6 hours5.5 hours5 hours2 hours37 mins37 mins1 hour3 hours2 hours3.5 hours1 hour1 hour43 mins2 hours1 hour1 hour3.5 hours3 hours2 hours5 hours3.5 hours1 hour2.5 hours12.5 hours13 hours2.5 hours1 hour1 hour10 hours1.5 hours4 hours4.5 hours4.5 hours1 hour5 hours10 hours3.5 hours1.5 hours1 hour31 mins71.5 hours5.5 hours2 hours1 hour1.5 hours1.5 hours1 hour2.5 hours1 hour1.5 hours37 mins5 hours2.5 hours4.5 hours11.5 hours6 hours2.5 hours1.5 hours2 hours1.5 hours1 hour1.5 hours1.5 hours1 hour2.5 hours8 hours24 hours47 hours2 hours3 hours2 hours2.5 hours2 hours35 mins3 hours1.5 hours6 hours2 hours1.5 hours1 hour43 mins1 hour42 mins3.5 hours3 hours4.5 hours3 hours1 hour2 hours36 mins1.5 hours1.5 hours2 hours1 hour35 mins1.5 hours9 hours18 hours5.5 hours3.5 hours1.5 hours4.5 hours2.5 hours4 hours6 hours30 mins1 hour2.5 hours1 hour41 mins3 hours5 hours5.5 hours5 hours3 hours1 hour5.5 hours2 hours2.5 hours3 hours4 hours4.5 hours1 hour1.5 hours2.5 hours1.5 hours3.5 hours4 hours1.5 hours5.5 hours2.5 hours2 hours2 hours1 hour1 hour2 hours4.5 hours1.5 hours4 hours3 hours42 mins36 mins40 mins41 mins5 hours1 hour36 mins3.5 hours2.5 hours3 hours1 hour1 hour3.5 hours1.5 hours2.5 hours3 hours2 hours41 mins3 hours5.5 hours1.5 hours2 hours2 hours2 hours1 hour2 hours1 hour1.5 hours1 hour4 hours4.5 hours1.5 hours2.5 hours3 hours2.5 hours1 hour2 hours1 hour1 hour2.5 hours5.5 hours1.5 hours2.5 hours1.5 hours8.5 hours5 hours1.5 hours4.5 hours3 hours2.5 hours1.5 hours2 hours2 hours1.5 hours1 hour2 hours1.5 hours4.5 hours1 hour4 hours2 hours8.5 hours34 mins1 hour1.5 hours2.5 hours1.5 hours18.5 hours2.5 hours36 mins41 mins2 hours2.5 hours2 hours3.5 hours2.5 hours1.5 hours32 mins2 hours41 mins5 hours2.5 hours3 hours2 hours11 hours2.5 hours1 hour7 hours1 hour3.5 hours8 mins1 hour1.5 hours1 hour6 hours1 hour1.5 hours2 hours2.5 hours1.5 hours8.5 hours2 hours2 hours42 mins3 hours2 hours34 mins31 mins1.5 hours2.5 hours36 mins3.5 hours2 hours2 hours1.5 hours1 hour44 mins2 hours1 hour1.5 hours1 hour2.5 hours1.5 hours2.5 hours43 mins2 hours1.5 hours4 hours1 hour4.5 hours3 hours4.5 hours1 hour2.5 hours4 hours36 mins3.5 hours2 hours1 hour6 hours3.5 hours2.5 hours1 hour6.5 hours19.5 hours32 mins2 hours1.5 hours6 hours1.5 hours32 mins20 hours3 hours2.5 hours1 hour1.5 hours5.5 hours1 hour1 hour11.5 hours34 mins12 hours1 hour1.5 hours2 hours1 hour1 hour6.5 hours4.5 hours1.5 hours1.5 hours1.5 hours1.5 hours1.5 hours1.5 hours4.5 hours43 mins2 hours4.5 hours2 hours3.5 hours37 mins1 hour8 hours2 hours1 hour1 hour10 hours3.5 hours1.5 hours2.5 hours1.5 hours4.5 hours2.5 hours4.5 hours1 hour2 hours2 hours2 hours1 hour3 hours2 hours4.5 hours1 hour2 hours3.5 hours32 mins9 hours7 hours6.5 hours1.5 hours5.5 hours1 hour31 mins3 hours1 hour27 mins3.5 hours3.5 hours44 mins1 hour32 mins1.5 hours1 hour38 mins5.5 hours3 hours1.5 hours3 hours2 hours3 hours6 hours3.5 hours2 hours3.5 hours1.5 hours2.5 hours2 hours5.5 hours1 hour1.5 hours1.5 hours2 hours8.5 hours9.5 hours1 hour1 hour2 hours4 hours1 hour4.5 hours42 mins2.5 hours5 hours1.5 hours33 mins1.5 hours1 hour7.5 hours3 hours1 hour1 hour34 mins8 hours37 mins1.5 hours2 hours3 hours3 hours2 hours3 hours12.5 hours2 hours1 hour1 hour1 hour1 hour46.5 hours1 hour32 mins4 hours3 hours3.5 hours4 hours3 hours2.5 hours4.5 hours3.5 hours5 hours1 hour17.5 hours11 hours2 hours2.5 hours1 hour3 hours1 hour3 hours1 hour2 hours3.5 hours2 hours1 hour2.5 hours2 hours5 hours7 hours4.5 hours1.5 hours26 hours43.5 hours7 hours2 hours1 hour1.5 hours3 hours37 mins1 hour1.5 hours3.5 hours1 hour7 hours43 mins1.5 hours1.5 hours32 mins1.5 hours01.5 hours1.5 hours2.5 hours2 hours6.5 hours2 hours7.5 hours1.5 hours38 mins20.5 hours39 mins43 mins1 hour38 mins6 hours4.5 hours1.5 hours2 hours2.5 hours2 hours1.5 hours1.5 hours2 hours3 hours2.5 hours1.5 hours1 hour33 mins2.5 hours11 hours4 hours1 hour2.5 hours10 hours6 hours1.5 hours1 hour2 hours5 hours1 hour4.5 hours3 hours31.5 hours1 hour1 hour4.5 hours4 hours3 hours1 hour1.5 hours1 hour1.5 hours2 hours1 hour1 hour1.5 hours1 hour2 hours24 hours7.5 hours12.5 hours8 hours1 hour1 hour5.5 hours7.5 hours1 hour1.5 hours5.5 hours1.5 hours2 hours1.5 hours36 mins6.5 hours2.5 hours3 hours7 hours6.5 hours5 hours3 hours5.5 hours7.5 hours6 hours40 mins13 hours2 hours2.5 hours3 hours2 hours4.5 hours2 hours4 hours3 hours5.5 hours1 hour5 hours3.5 hours5.5 hours2 hours5 hours1.5 hours1.5 hours1 hour43 mins2.5 hours2 hours1 hour1.5 hours1.5 hours35 mins1 hour1.5 hours1.5 hours44 mins1.5 hours2.5 hours5.5 hours3.5 hours3 hours2.5 hours1.5 hours39 mins4 hours2 hours3 hours4 hours1 hour38 mins10 hours1 hour6.5 hours3.5 hours2 hours3 hours1.5 hours3 hours3 hours1.5 hours7.5 hours2 hours38 mins1 hour4.5 hours1 hour7 hours8 hours7 hours1 hour4.5 hours1 hour5.5 hours1 hour1 hour41 mins1 hour1 hour37 mins1 hour1.5 hours1 hour4 hours40 mins1.5 hours1 hour19.5 hours1 hour1.5 hours1 hour2 hours34 mins1 hour3 hours1 hour1 hour2 hours5 hours14 hours2 hours3 hours2.5 hours1.5 hours2 hours2 hours2 hours2 hours2.5 hours7 hours3 hours1.5 hours1 hour3 hours1 hour1.5 hours1 hour1 hour6.5 hours24 questions218 questions18 questions82 questions1 hour35 mins5 hours1 hour1 hour2 hours1.5 hours3 hours1.5 hours2.5 hours1 hour1 hour1.5 hours6.5 hours4 hours2 hours10 hours9 hours3 hours7 hours5 hours4.5 hours5.5 hours5.5 hours1 hour1 hour1.5 hours4.5 hours41 mins1 hour10.5 hours2.5 hours1.5 hours10 hours2 hours1.5 hours1.5 hours1 hour10.5 hours3.5 hours2 hours2 hours1 hour3.5 hours5.5 hours1 hour4 hours13 hours2 hours3 hours4.5 hours1 hour5.5 hours1 hour5 hours1 hour3 hours8 hours2.5 hours4 hours3 hours1.5 hours2 hours31 mins3 hours34 mins4 hours70 hours2.5 hours6.5 hours32 mins2 hours1.5 hours2.5 hours1.5 hours3.5 hours1.5 hours5 hours3 hours4 hours2 hours2 hours2 hours2 hours1.5 hours3.5 hours1.5 hours3.5 hours1.5 hours1.5 hours1.5 hours1.5 hours1 hour3 hours1 hour1.5 hours2 hours2.5 hours3 hours2 hours6 hours1 hour2 hours2 hours1 hour1.5 hours5.5 hours12.5 hours1 hour2.5 hours3.5 hours5.5 hours3 hours2 hours28 mins1 hour2.5 hours1.5 hours6 hours3.5 hours3 hours2.5 hours2 hours1 hour1 hour7.5 hours2 hours1 hour1 hour1 hour43 mins3 hours2.5 hours5 hours2.5 hours6.5 hours6 hours2 hours2 hours3.5 hours2 hours1 hour4 hours5 hours1.5 hours7 hours37 mins1.5 hours2 hours7.5 hours1 hour7 hours3.5 hours1 hour1.5 hours2.5 hours2 hours2 hours3 hours3 hours2.5 hours2 hours'

In [ ]:

import math
hours = math